@import "media";

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  background: #7ca4d9;
  height: 60px;
  width: 100%;
}

.gallery {
  box-sizing: border-box;
  padding: 28px;
  display: inline-block;
  width: 100%;
  position: relative;
  &__left, &__right {
    float: left;
    img {
      width: 100%;
      margin-bottom: 16px;
    }
  }
  &__center {
    float: left;
  }

  &__left {
    width: 24%;
    padding-right: 20px;
    box-sizing: border-box;
  }
  &__center {
    width: 56.9%;
    text-align: center;
    overflow: hidden;
    &-wrapper {
      > div {
        width: 22.5%;
        vertical-align: top;
        display: inline-block;
        margin: 0 6px 20px;
        img {
          width: 100%;
        }
      }
    }
  }
  &__right {
    width: 19.1%;
    text-align: right;
    padding-left: 20px;
    box-sizing: border-box;
  }
}