.gallery{
  @media screen and (max-width: 1110px){
    &__center{
      &-wrapper {
        > div {
          width: 21%;
        }
      }
    }
  }
  @media screen and (max-width: 768px){
     padding: 30px 15px;

    &__left{
      width: 28.5%;
      padding-right: 10px;
    }
    &__center{
      width: 71.4%;
      float: right;
      text-align: left;
      &-wrapper{
        margin: 0 -6px;
        > div{
          width: 31.32%;
          margin: 0 0 30px 6px;
        }
      }
    }
    &__right{
      width: 28.5%;
      padding-right: 10px;
      padding-left: 0;
      text-align: left;
    }
  }


  @media screen and (max-width: 650px) {
    &__center {
      &-wrapper {
        > div {
          width: 30.5%;
          margin: 0 0 30px 6px;
        }
      }
    }
  }
  @media screen and (max-width: 460px){
    &__center{

      &-wrapper {
        > div {
          width: 29.17%;
          margin: 0 0 30px 6px;
        }
      }
    }
  }

  @media screen and (max-width: 320px){
      padding: 20px 10px;
    &__left{
      width: 100%;
      padding: 0;
    }
    &__center {
      width: 100%;
      &-wrapper {
        margin: 0;
        margin-right: -1px;
        > div {
          width: 49%;
          margin: 0;
          margin-bottom: 20px;
          img {
            width: 96%;
          }
          &:nth-child(even) {
            text-align: right;
            margin-right: -3px;
          }
        }
      }
    }
    &__right{
      width: 100%;
      padding: 0;
    }

  }
}
