extends layout/main-layout

block body
  header.header
  section.gallery
    div.gallery__left
      img(src="../img/img1.jpg")
    div.gallery__center
      div.gallery__center-wrapper
        div
          img(src="../img/img2.jpg")
        div
          img(src="../img/img3.jpg")
        div
          img(src="../img/img4.jpg")
        div
          img(src="../img/img5.jpg")
        div
          img(src="../img/img7.jpg")
        div
          img(src="../img/img8.jpg")
        div
          img(src="../img/img9.jpg")
        div
          img(src="../img/img10.jpg")
    div.gallery__right
      img(src="../img/img6.jpg")
  //section
    div.left
      div
        img(src="../img/img1.jpg")
    div.right
      div
        img(src="../img/img6.jpg")
    div.center
      div
        img(src="../img/img2.jpg")
      div
        img(src="../img/img3.jpg")
      div
        img(src="../img/img4.jpg")
      div
        img(src="../img/img5.jpg")
      div
        img(src="../img/img7.jpg")
      div
        img(src="../img/img8.jpg")
      div
        img(src="../img/img9.jpg")
      div
        img(src="../img/img10.jpg")


  //div#app
    block header
      div#header
        include includes/header
    block toolbar
      div#toolbar
        include includes/toolbar
    block content
      section#content
        //div
          include includes/tooltip

        div.content
          include includes/table

    div#footer
      block footer
        //p footer
        include includes/footer



append scripts
  script(src='js/jquery.min.js')
  script(src = 'js/script.js')

