doctype html

html(lang='ru', class = page)
  head
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title TestCase Gallery
    block styles
      link(rel='stylesheet',href='/css/all.css')

  body
    block body

    block scripts
      script(src='/js/jquery-3.2.1.min.js')
